<script>
  export let chars = [];

  function uncheck_all() {
    chars = chars.map((t) => ({ ...t, checked: false }));
  }

  function check_all() {
    chars = chars.map((t) => ({ ...t, checked: true }));
  }
</script>

<span id="chars" style="display: flex; flex-direction: row; flex-wrap: wrap;">
  {#each chars as char}
    <input
      on:click={() => {
        console.log(chars);
      }}
      type="checkbox"
      style="display: none;"
      id="c{char.id}"
      bind:checked={char.checked}
    /><label for="c{char.id}"
      ><div
        style="height:22px;width:22px;text-align:center;margin:2px;border:1px solid black;padding:1px"
        class:unchecked={!char.checked}
        class:checked={char.checked}
      >
        {char.char}
      </div></label
    >
  {/each}
</span>
<button on:click={check_all}>select all</button>

<button on:click={uncheck_all}>unselect all</button>

<style>
  .unchecked {
    background-color: lightgrey;
  }
  .checked {
    background-color: green;
  }
</style>
