<script>
  export let url;
  export let height = "10px";
</script>

<a href={url}
  ><img src="icons/codeberg-ribbon.svg" style="height: {height};" /></a
>

<style>
  img {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
  }
</style>
