<script>
  import { fade } from "svelte/transition";
  import CharsSelector from "./CharsSelector.svelte";
  export let data;
  export let dimensions;
  export let transitionDone;
</script>

{#if transitionDone}
  <div class="settingscontainer" in:fade>
    <div class="slidecontainer text">
      Size: <input
        type="range"
        min="3"
        max="20"
        class="slider"
        bind:value={dimensions}
      />
      {dimensions}x{dimensions} ({dimensions * dimensions - 1})
    </div>
    <br />
    <div class="charactercontainer text">Use the following characters:</div>
    <br />

    <CharsSelector bind:chars={data.chars} />
    <br /> <br />
    <CharsSelector bind:chars={data.accents} />
    <br /> <br />
    <CharsSelector bind:chars={data.numbers} />
    <br /> <br />
    <CharsSelector bind:chars={data.other} />
  </div>
{/if}

<style>
  .settingscontainer {
    position: relative;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    border: 3px solid #4287f5;
  }
  .rotate {
    animation: rotateY 1s;
  }
  @-webkit-keyframes rotateY {
    0% {
      transform: rotateY(180deg);
    }
  }

  .slider {
  }
  .text {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  .charactercontainer {
    font-weight: bold;
  }
  textarea {
    width: 98%;
  }
  .value {
    width: 300px;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-word;
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
</style>
